@use "../base/index" as *;

.btn {
  background: none;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  padding: 0.7rem 1rem;
  color: $purple-secondary;
  font-size: $fs-12;
  font-weight: $fw_bold;
  font-family: $ff-Inter;
  transition: transform 0.5s ease;

  &:active {
    transform: scale(0.9);
  }
}

.btn--no-style {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  text-align: left;
}

.btn-login {
  width: 190px;
  font-size: $fs-20;
  padding: 17px 50px;
  border-radius: 12px;
}

.btn-empty {
  border: solid 1px transparent;
  background-image: $green-gradient;
  background-origin: border-box;
  box-shadow: 2px 1000px 1px #fff inset;
}
.btn-color {
  background: $green-gradient;
}
