@use "../base/index" as *;

svg {
  color: $purple-secondary--light;
  font-size: $fs-24;
  transition: all 0.5s ease;

  &:active {
    transform: scale(0.95);
  }

  &.active {
    color: $green-primary;
  }
}

.input-icon {
  height: 32px;
  width: 28px;
  color: $white;
  padding: 4px;
  position: absolute;
  box-sizing: border-box;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
}

.icon-logo {
  font-size: 110px;
  color: $green-primary;
  height: 35%;
  margin: 0 auto;
}
