@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

//font-family
$ff-Inter: "Lato", sans-serif;

//colors
$purple-secondary--light: #ddffe7;
$purple-secondary--darker: #98d7c2;
$purple-secondary--dark: #167d7f;
$purple-secondary: #29a0b1;

$FESB-green: #17cb65;
$FESB-red: #9e2525;
$FESB-blue: #1775a1de;

$green-gradient: -webkit-linear-gradient(
  135deg,
  #cc5e3d 0%,
  #ffa98f 100%
);
$green-primary: #ffa98f;

$white: #fdfdfd;

//line heights
$lh-24: 24px;
$lh-15: 15px;
$lh-19: 19px;

//font-sizes
$fs-24: 24px;
$fs-20: 20px;
$fs-16: 16px;
$fs-12: 12px;

// Font weights
$fw_bold: 700;
$fw_normal: 400;
$fw_light: 300;
